:root {
  font-size: 16px;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.text-xxl {
  font-size: 3.375rem;
  font-weight: 700;
  line-height: 3.688rem;
}

.text-xl {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.438rem;
}

.text-lg {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2rem;
}

.text-md, body {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.text-base {
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.938rem;
}

.show-box {
  border: 1px dotted white;
}

.icon-1 {
  width: 50px;
  filter: invert(56%) sepia(47%) saturate(692%) hue-rotate(124deg) brightness(95%) contrast(94%);
}

.icon-2 {
  width: 100px;
  filter: invert(46%) sepia(28%) saturate(7499%) hue-rotate(306deg) brightness(99%) contrast(87%);
}

@media only screen and (min-width: 375px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .modal {
    width: 480px;
  }
}
.text-xxl {
  font-size: 3.375rem;
  font-weight: 700;
  line-height: 3.688rem;
}

.text-xl {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.438rem;
}

.text-lg {
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2rem;
}

.text-md, body {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.text-base {
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.938rem;
}

.show-box {
  border: 1px dotted white;
}

.icon-1 {
  width: 50px;
  filter: invert(56%) sepia(47%) saturate(692%) hue-rotate(124deg) brightness(95%) contrast(94%);
}

.icon-2 {
  width: 100px;
  filter: invert(46%) sepia(28%) saturate(7499%) hue-rotate(306deg) brightness(99%) contrast(87%);
}

@media only screen and (min-width: 375px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .modal {
    width: 480px;
  }
}
body {
  background-color: #33332D;
  color: #FFFFFF;
}

.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}
.navbar .navbar-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}
.navbar .navbar__menu-center {
  min-width: 500px;
  display: flex;
  column-gap: 2rem;
  justify-content: space-between;
}
.navbar .navbar__toggle {
  align-items: center;
}
.navbar .navbar__toggle .menu-container {
  width: 40px;
  height: 35px;
}
.navbar .navbar__toggle .menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.navbar .navbar__toggle .menu-icon .line {
  background: #fff;
  border-radius: 15px;
  height: 5px;
  margin: 5px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navbar .navbar__toggle span:nth-of-type(1) {
  width: 50%;
}
.navbar .navbar__toggle span:nth-of-type(2) {
  width: 100%;
}
.navbar .navbar__toggle span:nth-of-type(3) {
  width: 75%;
}
.navbar .navbar__toggle .menu-icon.open > span:nth-of-type(1) {
  /*transform-origin: bottom;*/
  transform: rotatez(45deg) translate(8px, 0px);
}
.navbar .navbar__toggle .menu-icon.open > span:nth-of-type(2) {
  /*transform-origin: top;*/
  transform: rotatez(-45deg);
}
.navbar .navbar__toggle .menu-icon.open > span:nth-of-type(3) {
  /*transform-origin: bottom;*/
  width: 50%;
  transform: translate(22px, -9px) rotatez(45deg);
}
.navbar .navbar__logo {
  padding: 0.4rem;
  min-width: 50px;
}

.box {
  margin: 10rem;
  height: 100px;
  width: 100px;
}

.d-border {
  height: 100%;
  cursor: pointer;
  position: relative;
  padding: 0;
  color: #FFFFFF;
  border-radius: 5px 0;
}
.d-border::before, .d-border::after {
  z-index: 2;
  content: "";
  border: 2px solid white;
  border-radius: 5px;
  position: absolute;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
}
.d-border::before {
  left: 0;
  top: 0;
}
.d-border::after {
  bottom: 0;
  right: 0;
}
.d-border .d-border-center {
  position: relative;
  overflow: hidden;
  border-radius: 3px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0;
}
.d-border:hover {
  transition: 1s cubic-bezier(0.37, 0, 0.63, 1) 0s;
  background-color: #FFFFFF;
  color: #33332D;
}

.hero {
  background-color: #212121;
  height: 200px;
}

.skills {
  height: 200px;
}

.education {
  background-color: #212121;
  height: 200px;
}

@media only screen and (min-width: 768px) {
  .navbar {
    height: 86px;
  }
  .navbar .navbar-center {
    column-gap: 5rem;
    margin: 0 auto;
    width: 992px;
    justify-content: start;
  }
  .section .section-center {
    margin: 0 auto;
    width: 992px;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar {
    height: 86px;
  }
  .navbar .navbar-center {
    margin: 0 auto;
    width: 1300px;
  }
  .section .section-center {
    margin: 0 auto;
    width: 1300px;
  }
}
