:root {
  font-size: 16px;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.text-xxl {
  font-weight: 700;
}

.text-xl {
  font-weight: 700;
}

@media only screen and (min-width: 375px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .modal {
    width: 480px;
  }
}
body {
  background-color: #33332D;
  color: #FFFFFF;
}

.show-box {
  border: 1px dotted white;
}

.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
}
.navbar .navbar-center {
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.navbar .navbar__toggle {
  align-items: center;
}
.navbar .toggle-btn {
  position: relative;
  width: 30px;
  display: flex;
  height: 30px;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.navbar .toggle-btn.open {
  transform: rotate(90deg);
}
.navbar .toggle-btn.open .toggle-icon-line:nth-child(1) {
  transform: rotate(45deg) translate(0.5rem, 0.5rem);
}
.navbar .toggle-btn.open .toggle-icon-line:nth-child(2) {
  display: none;
}
.navbar .toggle-btn.open .toggle-icon-line:nth-child(3) {
  transform: rotate(-45deg) translate(-0.5rem, 0.5rem);
}
.navbar .toggle-btn .toggle-icon-line {
  position: absolute;
  width: 30px;
  height: 5px;
  top: 5px;
  transition: all ease-in-out 500ms;
  background-color: #FFFFFF;
  transform: rotate(0deg);
}
.navbar .toggle-btn .toggle-icon-line:nth-child(2) {
  transform: translateY(0.5rem);
}
.navbar .toggle-btn .toggle-icon-line:nth-child(3) {
  transform: translateY(1rem);
}

.box {
  margin: 10rem;
  height: 100px;
  width: 100px;
}

.d-border {
  cursor: pointer;
  position: relative;
  padding: 0.1rem;
  color: #FFFFFF;
  border-radius: 5px 0;
}
.d-border::before, .d-border::after {
  z-index: 2;
  content: "";
  border: 2px solid white;
  border-radius: 5px;
  position: absolute;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
}
.d-border::before {
  left: 0;
  top: 0;
}
.d-border::after {
  bottom: 0;
  right: 0;
}
.d-border .d-border-center {
  position: relative;
  overflow: hidden;
  border-radius: 3px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0;
}
.d-border:hover {
  transition: 500ms all ease-in-out;
  background-color: #FFFFFF;
  color: #33332D;
}

.navbar__logo {
  padding: 0.4rem;
  min-width: 50px;
}

.hero {
  background-color: #212121;
  height: 455px;
}

@media only screen and (min-width: 768px) {
  .navbar {
    height: 86px;
  }
  .navbar .navbar-center {
    width: 850px;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar {
    height: 86px;
  }
  .navbar .navbar-center {
    width: 1300px;
  }
}
