@import "setup/variables";
@import "utilities";


body {
  background-color: rgba(1, 4, 9, 0.93);
  color: hsla(215.4 16.3% 56.9%);
}

.offset {
  position: relative;
  top: 100px;
}

.box {
  margin: 10rem;
  height: 100px;
  width: 100px;
}


.section-center {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-title {
  font-size: 1.5rem;
  color: white;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}


// NAVBAR
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(1, 4, 9, 0.4);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  display: flex;
  padding: 1rem;
  justify-content: center;

  .navbar-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;
  }

  .navbar__menu-center {
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
  }


  .navbar__toggle {
    align-items: center;

    .menu-container {
      width: 40px;
      height: 35px;
    }


    .menu-icon {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }

    .menu-icon .line {
      background: #fff;
      border-radius: 15px;
      height: 5px;
      margin: 5px 0;
      transition: $transition-1;
    }


    span:nth-of-type(1) {
      width: 50%;
    }

    span:nth-of-type(2) {
      width: 100%;
    }


    span:nth-of-type(3) {
      width: 75%;
    }


    .menu-icon.open > span:nth-of-type(1) {
      /*transform-origin: bottom;*/
      transform: rotatez(45deg) translate(8px, 0px)
    }


    .menu-icon.open > span:nth-of-type(2) {
      /*transform-origin: top;*/
      transform: rotatez(-45deg)
    }


    .menu-icon.open > span:nth-of-type(3) {
      /*transform-origin: bottom;*/
      width: 50%;
      transform: translate(22px, -9px) rotatez(45deg);
    }


  }

  .navbar__logo {
    padding: 0.4rem;
    min-width: 50px;
  }


}


// FANCY BORDER


.d-border {
  height: 100%;
  cursor: pointer;
  position: relative;
  padding: 0;
  font-family: "JetBrains Mono", serif;
  font-size: 12px;
  color: $accent-light-100;
  border-radius: 5px 0;

  &::before,
  &::after {
    z-index: 2;
    content: '';
    border: 2px solid white;
    border-radius: 5px;
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
  }

  &::before {
    left: 0;
    top: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  .d-border-center {
    position: relative;
    overflow: hidden;
    border-radius: 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 0;

  }

  &:hover {
    transition: $transition-2;
    background-color: $accent-light-100;
    color: $accent-dark-100;
  }


  &:not(:hover) {
    transition: $transition-2;
  }


}


section.hero {
  .section-center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


  }

}

section.skills {

  .skills-center {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }


  .skill-card {
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    max-width: 350px;
    font-size: 16px;
    font-weight: normal;

    .icon {
      display: flex;
      column-gap: 0.5rem;
    }


    h3, p {
      text-align: start;
    }

  }

  .skills-center {
    display: flex;
  }


}


// TIMELINE


.timeline-1, .timeline-2 {

  .timeline-center {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }

  /* line */
  .timeline-center::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);;
    border-radius: calc(var(--line-w) / 2);
  }


  /* row gaps */
  .timeline-card:not(:last-child) {
    margin-bottom: var(--row-gap);
  }

  /* card */
  .timeline-card {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }

  /* date */
  .timeline-card .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);
    text-align: center;
    background-color: var(--accent-color);
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    display: grid;
    place-content: center;
    position: relative;
    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }


  /* circle */
  .timeline-card .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: lightcyan;
    border: 0.3rem solid lightslategrey;
    border-radius: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }

  /* title descr */
  .timeline-card .title,
  .timeline-card .descr {
    position: relative;
    padding-inline: 1.5rem;
  }

  .timeline-card .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;

  }

  .timeline-card .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }


}


@media only screen and (min-width: map-get($breakpoints, "md")) {

  .section-title {
    justify-content: start;
    padding-left: 3rem;
  }


  .navbar {

    .navbar-center {
      column-gap: 5rem;
      justify-content: start;
      width: 992px;
      //border: 1px solid white;
    }
  }


  .section {
    margin: 0 auto;
    width: 992px;
    //border: 1px solid white;

    .section-center {

    }
  }


  .timeline-1, .timeline-2 {

    .timeline-center {
      grid-template-columns: 1fr var(--line-w) 1fr;
    }

    .timeline-center::before {
      grid-column: 2;
    }

    .timeline-card:nth-child(odd) {
      grid-column: 1;
    }

    .timeline-card:nth-child(even) {
      grid-column: 3;
    }

    /* start second card */
    .timeline-card:nth-child(2) {
      grid-row: 2/4;
    }

    .timeline-card:nth-child(odd) .date::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
    }

    .timeline-card:nth-child(odd) .date::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }

    .timeline-card:nth-child(odd) .date {
      border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }


  }


  @media only screen and (min-width: map-get($breakpoints, "lg")) {
    .navbar {

      .navbar-center {


      }
    }

    .section {
      margin: 0 auto;

      .section-center {

      }

    }

  }
}
