@import "variables";
@import "utilities";


body {
  background-color: rgba(1, 4, 9, 0.93);
  color: hsla(215.4 16.3% 56.9%);
  user-select: none;
  scroll-behavior: smooth
}

.offset {
  position: relative;
  top: 100px;
}

.box {
  height: 500px;
  width: 200px;
}

.section-center {
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-title {
  font-size: 1.5rem;
  color: white;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}


// NAVBAR
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  font-weight: 800;
  color: white;
  background-color: rgba(10, 4, 4, 0.48);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(128, 128, 128, 0.24);
  display: flex;
  padding: 1rem;
  justify-content: center;

  .navbar-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin: 0 auto;

  }

  .navbar__menu-center {
    display: flex;
    column-gap: 1rem;
    font-size: 0.8rem;
    justify-content: space-between;
  }


  .navbar__logo {
    padding: 0.4rem;
    min-width: 50px;
  }

}


.mobile-menu {
  button {
    all: unset;
    cursor: pointer;
  }
}

.menu__item {
  transition: $transition-4;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  outline: 2px dashed transparent;

  &.active {
    color: black;
    background-color: white;
  }

  &:hover {
    outline: 2px dashed white;
    color: white;
    background-color: transparent;
  }


}

.menu-content {
  background-color: rgba(10, 4, 4, 0.48);
  color: white;
  padding: 3rem;
  z-index: 98;
  width: 100vw;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(128, 128, 128, 0.24);

  .mobile-menu_item {
    padding: 1rem 0;
    text-align: center;

    .menu__item {
      display: flex;
      justify-content: center;
    }

  }


}


// FANCY BORDER
.d-border {
  cursor: pointer;
  position: relative;
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  color: $accent-light-100;
  border-radius: 5px 0;

  &::before,
  &::after {
    z-index: 2;
    content: '';
    border: 2px solid white;
    border-radius: 5px;
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
  }


  &::before {
    left: 0;
    top: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  .d-border-center {
    position: relative;
    overflow: hidden;
    border-radius: 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem 0;

  }


}


// HERO SECTION
section.hero {
  .section-center {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .icons {
      cursor: pointer;
      padding: 1rem 0;
      display: flex;
      justify-content: center;
      font-size: 2rem;
      column-gap: 0.8rem;
      color: $accent-light-200;

      a {
        display: flex;
      }

      svg {
        transition: $transition-3;
      }

      a:nth-child(1):hover {
        color: $primary-purple-200;
      }

      a:nth-child(2):hover {
        color: $primary-blue-400;
      }

      a:nth-child(3):hover {
        color: $primary-orange-100;
      }

      a:nth-child(4):hover {
        color: $primary-green-300;
      }

    }

  }

  .hero-text {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    p {
      @include text-md;
    }

  }


}

// SKILLS SECTION
section.skills {

  .skills-center {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }


  .skill-card {
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 350px;
    font-size: 1rem;
    font-weight: normal;

    &:hover {
      background-color: $accent-dark-300;
    }


    .icons {
      display: flex;
      column-gap: 0.5rem;
      color: #FFFFFF;
    }


    h3, p {
      text-align: start;
    }

  }

  .skills-center {
    display: flex;
  }


}

// TIMELINE SECTION
.timeline-1, .timeline-2 {
  .timeline-center {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns:  0.25rem 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }

  /* line */
  .timeline-center::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;

    background: linear-gradient(115deg, #C5FF73FF, #F7F382FF, #B795F3FF, rgb(6, 182, 212), #44ce7b);;
    border-radius: calc(0.25rem / 2);
  }


  /* row gaps */
  .timeline-card:not(:last-child) {
    margin-bottom: var(--row-gap);
  }

  /* card */
  .timeline-card {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }

  /* date */
  .timeline-card .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);
    background-color: var(--accent-color);
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }


  /* circle */
  .timeline-card .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: lightcyan;
    border: 0.3rem solid lightslategrey;
    border-radius: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + 0.25rem / 2);
  }

  /* title descr */
  .timeline-card .title,
  .timeline-card .descr {
    position: relative;
    padding-inline: 1rem;
    text-align: center;

  }

  .timeline-card .title {
    overflow: hidden;
    padding-block-start: 1rem;
    padding-block-end: 0.5rem;
    font-weight: 500;
    color: #e0e8f9;
  }

  .timeline-card .descr {
    font-weight: 300;
    font-size: 0.9rem;
  }


}


// PROJECTS PAGE
.projects-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 1.5rem;
  padding: 3rem 0;
}

.project-card {
  border-radius: 0.75rem;
  background-color: #2A2E35;
  color: white;
  max-width: 19rem;
  cursor: pointer;
  overflow: hidden;
  transition: $transition-3;
  height: 26rem;

  .project-image {
    background-color: #2A2E35;
    height: 45%;
    overflow: hidden;
  }

  .project-content {
    height: 55%;

    .center {
      padding: 1rem 0.9rem;
      display: flex;
      row-gap: 0.5rem;
      justify-content: space-between;
      flex-direction: column;


    }

    .card-text {
      font-size: 15px;
      padding: 0.5rem 0;
      height: 7rem;
    }


    h3, h5 {
      line-height: 1.3rem;
      text-transform: uppercase;
      font-weight: bold;
    }

    p {
      color: hsla(215.4 16.3% 56.9%);
    }


  }


}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: $box-shadow-1;
}


// FAQ PAGE

.accordion-center {
  margin: 0 auto;
  width: $max-w-sm;
  display: flex;
  flex-direction: column;

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: $rounded-md;
    font-size: 1rem;
    background-color: #2A2E35;
    padding: 1rem;
    text-align: start;
    color: $accent-light-100;
    width: 100%;
    margin-bottom: 0.8rem;
    transition: $transition-3;
  }

  .question[data-state='open'] {
    border: 1px solid $primary-green-300;
    color: $primary-green-100;

  }

  .question[data-state='open'] > .icon-open {
    display: none;
  }

  .question[data-state='closed'] > .icon-close {
    display: none;
  }

  .answer {
    padding: 1.5rem 1rem;
    color: $accent-light-100;

    a {
      padding: 0 0.2rem;
      color: $primary-blue-100;
    }


  }

}

.about-center, .contact-center {
  margin: 0 auto;
  color: #e0e8f9;
  font-size: 1rem;
  width: $max-w-sm;
}


@media only screen and (min-width: map-get($breakpoints, "md")) {


  .about-center, .contact-center {
    width: $max-w-md;
  }


  section.hero {
    .section-center {
      text-align: left;

      .icons {

        justify-content: start;
      }


    }
  }


  .section-title {
    justify-content: start;
    padding-left: 3rem;
  }


  .navbar {
    .navbar-center {
      column-gap: 5rem;
      justify-content: start;
      width: 992px;
      //border: 1px solid white;
    }
  }

  .navbar__mobile-menu {
    display: none;
  }

  .section {
    margin: 0 auto;
    width: 992px;
    //border: 1px solid white;

    .section-center {

    }
  }


  .timeline-1, .timeline-2 {

    .timeline-center {
      max-width: 768px;
    }


    .timeline-card:nth-child(odd) .date, {
      justify-content: start;
    }

    .timeline-card:nth-child(even) .date, {
      justify-content: end;
    }


    .timeline-card .title,
    .timeline-card .descr {
      text-align: left;

    }

    .timeline-center {
      grid-template-columns: 1fr var(--line-w) 1fr;
    }

    .timeline-center::before {
      grid-column: 2;
    }

    .timeline-card:nth-child(odd) {
      grid-column: 1;

      .title, .descr {
        text-align: left;
      }


    }

    .timeline-card:nth-child(even) {
      grid-column: 3;

      .title, .descr {
        text-align: right;
      }
    }

    /* start second card */
    .timeline-card:nth-child(2) {
      grid-row: 2/4;
    }

    .timeline-card:nth-child(odd) .date::before {
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      left: 0;
    }

    .timeline-card:nth-child(odd) .date::after {
      transform: translate(-50%, -50%);
      left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }

    .timeline-card:nth-child(odd) .date {
      border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }

  }
  .accordion-center {
    width: $max-w-md;
  }


  @media only screen and (min-width: map-get($breakpoints, "lg")) {
    .section {
      margin: 0 auto;
    }
  }
}

@media(hover: hover) and (pointer: fine) {
  .d-border {
    &:hover {
      transition: $transition-2;
      background-color: $accent-light-100;
      color: $accent-dark-100;
    }

    &:not(:hover) {
      transition: $transition-2;
    }

  }
}