@import "setup/variables";
@import "setup/mixins";


// TYPOGRAPHY

.text-xxl {
  @include text-xxl;
}

.text-xl {
  @include text-xl;
}

.text-lg {
  @include text-lg;
}

.text-md {
  @include text-md;
}

.text-base {
  @include text-base;
}


.show-box {
  border: 1px dotted white;
}

.icon-1 {
  width: 50px;
  filter: $bg-filter-1;
}

.icon-2 {
  width: 100px;
  filter: $bg-filter-2;
}

.btn-container {
  display: flex;
  column-gap: 0.5rem;
}


.btn {
  border: transparent;
  cursor: pointer;

  padding: 0.3rem 0.75rem;
  border-radius: $rounded-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  transition: $transition-1;
}

.btn-primary:hover {
  background-color: $primary-purple-200;
}

.btn-secondary:hover {
  background-color: $primary-green-200;
}

.btn-primary {
  background-color: $primary-purple-100;
  color: $accent-dark-300;
}

.btn-primary:active {
  outline: 1px dashed $primary-purple-200;
  color: $primary-purple-200;
}

.btn-secondary {
  background-color: $primary-green-100;
  color: $accent-dark-300;
}

.btn-secondary:active {
  outline: 1px dashed $primary-green-200;
  color: $primary-green-200;
}

.btn:active {
  background: transparent;
}


.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  margin-left: 1rem;
  .icon {
    transform: rotate(45deg);
    color: $primary-yellow-100;
  }


}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }
  10% {
    transform: rotate(14.0deg)
  }
  20% {
    transform: rotate(-8.0deg)
  }
  30% {
    transform: rotate(14.0deg)
  }
  40% {
    transform: rotate(-4.0deg)
  }
  50% {
    transform: rotate(10.0deg)
  }
  60% {
    transform: rotate(0.0deg)
  }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0.0deg)
  }
}


@media only screen and (min-width: map-get($breakpoints, "sm")) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}


@media only screen and (min-width: map-get($breakpoints, "md")) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }

  .modal {
    width: 480px;
  }

}

