@import "setup/variables";
@import "setup/mixins";


// TYPOGRAPHY

.text-xxl {
  @include text-xxl;
}

.text-xl {
  @include text-xl;
}

.text-lg {
  @include text-lg;
}

.text-md {
  @include text-md;
}

.text-base {
  @include text-base;
}







@media only screen and (min-width: map-get($breakpoints, "sm")) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}



@media only screen and (min-width: map-get($breakpoints, "md")) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }

  .modal {
    width: 480px;
  }

}

