$accent-light-100: #FFFFFF;
$accent-light-200: #E1E1E1FF;
$accent-light-300: #EDEDFAFF;
$accent-dark-100: #33332D;
$accent-dark-200: #212121;
$accent-dark-300: #000000;

$primary-green-100: #D4FCB5FF;
$primary-green-200: #AEFFDAFF;
$primary-green-300: #C5FF73FF;
$primary-green-400: #38BE83FF;
$primary-yellow-100: #F7F382FF;
$primary-orange-100: #EEAC5DFF;
$primary-purple-100: #B2BBF0FF;
$primary-purple-200: #B795F3FF;
$primary-blue-100: #82F7EBFF;
$primary-blue-200: #82D2F7FF;
$primary-blue-300: #06b6d4;
$bg-filter-1: invert(56%) sepia(47%) saturate(692%) hue-rotate(124deg) brightness(95%) contrast(94%);
$bg-filter-2: invert(46%) sepia(28%) saturate(7499%) hue-rotate(306deg) brightness(99%) contrast(87%);


$max-w-sm: 400px;
$max-w-md: 850px;
$max-w-lg: 992px;
$max-w-xl: 1300px;
$max-w-xxl: 1600px;

$rounded-sm: 4px;
$rounded-md: 6px;
$rounded-lg: 8px;
$rounded-xl: 24px;
$rounded-full: 50%;

$box-shadow-1: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.3);
$box-shadow-2: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$box-shadow-3: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
$transition-1: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
$transition-2: 1s cubic-bezier(0.37, 0, 0.63, 1) 0s;
$transition-3: 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
$transition-4: 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;


$font-sizes: (
        "1": 1rem, /*16px*/
        "2": 1.125rem, /*18px*/
        "3": 1.625rem, /*26px*/
        "4": 1.875rem, /*30px*/
        "5": 3.375rem /*54px*/
);
$line-height: (
        "1": 0.938rem, /*15px*/
        "2": 1.75rem, /*28px*/
        "3": 2rem, /*32px*/
        "4": 2.438rem, /*39px*/
        "5": 3.688rem, /*59px*/
);
$letter-spacing: (
        "1": -0.10px, /*-0.10px*/
        "2": -0.25px, /*-0.25px*/
        "3": -0.75px, /*-0.75px*/
        "4": -1px, /*-1px*/
);

$font-weight: (
        "bold": 700,
        "medium": 400,
);

$breakpoints: (
        "sm": 375px,
        "md": 768px,
        "lg": 1024px,
);

